rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function authed() {
      return request.auth != null;
    }

    match /tenants/{tenantId}/secrets/{secret} {
      allow read, write: if authed();
    }

    match /{document=**} {
      allow read, write: if authed();
    }
  }
}